.App {
  /* background-color: ; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  width: 100%;
  min-width: 100vh;
}

.news-card {
  width: 100%;
  max-width: 800px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  overflow: hidden;
  /* border: 2px solid #ddd; */
  padding: 10px;
  /* font-family: monospace; */
  border: 2px solid lightgray;
  padding: 30px;
}

.news-image {
  border-radius: 35px;
  /* width: 100%; */
  display: block;
  /* max-width: 150px; */
  height: 100%;
  object-fit: cover;
}

.news-title {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  font-weight: 900;
  font-family: monospace;
  color: #292c33;
}
.news-time {
  font-family: monospace;
  color: #68696a;
  font-weight: 700;
  font-size: x-large;
}

.news-content {
  margin-left: 25px;
}
